// src/quasar-variables.sass

$primary   : #059669
$secondary : #0f172a
$accent    : #10b981

$dark      : #090d16

$positive  : #10b981
$negative  : #ef4444
$info      : #0284c7
$warning   : #f59e0b
